<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wke.webapp.persistence.login.LoginMapper">
  
  <select id="validateLogin" resultType="com.wke.webapp.bo.login.LoginBO" parameterType="com.wke.webapp.bo.login.LoginBO" >
  	SELECT username, pwd as password, cjsj as url, path as initUrl, t5.id as id, t5.pid as fatherid, t5.gnmc
  	FROM T_XT_USER T1, T_XT_USER_JS T2, T_XT_JS T3, T_XT_JS_GNS T4, T_XT_GNS T5
  	WHERE
  	T1.USERNAME = #{username}
  	AND T1.PWD = #{password}
  	AND T1.ID = T2.USERID
  	AND T2.JSID = T3.ID
  	AND T3.ID = T4.JSID
  	AND T4.GNID = T5.ID
  	ORDER BY T5.ID
  </select>
  
</mapper>